{% extends "shop/base.html" %}
{% load static %}

{% block content %}
</style>

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="{%url "shop:home"%}">Harmony of Esotericism</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">f</span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarDark">
          <ul class="navbar-nav me-auto mb-2 mb-xl-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{%url "shop:list"%}">Товары</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="{%url "cart:cart_detail"%}">Корзина</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{%url "favourites:all"%}">Избранные</a>
            </li>
           
              <div class="nav-item dropdown">
               
                <a class=" nav-link active dropdown-toggle" tabindex="-1" aria-disabled="true" id="dropdownMenuDark" data-bs-toggle="dropdown" >
                      Пользователь
                </a>
                
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuDark">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">
                            🕉️ Welcome, <strong>{{ request.user.first_name|default:request.user.username }}</strong> ✨
                        </span>
                    </li>
                    <li><a class="dropdown-item" href="{%url "account:profile"%}">Мой Профиль</a></li>
                      <li><a class="dropdown-item" href="{%url "account:logout"%}">Выйти</a></li>
                      {% else %}
                      <li><a class="dropdown-item" href="{%url "account:login"%}">Войти</a></li>
                      {% endif %}
                  </ul>
              </div>
          </ul>
        
        
      </div>
  </div>
</nav>
<div class="container my-5">
    <h1 class="text-center mb-4">Избранные товары</h1>
    
    
    {% if products %}
        <div class="row">
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 border-primary rounded custom-shadow" style="background: #000000a3;">
                    <!-- Изображение товара -->
                    {% if product.image %}
                    <a href="{{ product.get_absolute_url }}">
                        <div class="aspect-ratio overflow-hidden" style="position: relative; padding-top: 100%;">
                            <img src="{{ product.image.url }}" class="w-100 h-100 position-absolute" style="object-fit: cover; top: 0; left: 0;" alt="{{ product.name }}">
                        </div>
                    </a>
                    {% else %}
                    <div class="aspect-ratio overflow-hidden" style="position: relative; padding-top: 100%;">
                        <img src="{% static 'deps/img/no_image.jpg' %}" class="w-100 h-100 position-absolute" style="object-fit: cover; top: 0; left: 0;" alt="{{ product.name }}">
                    </div>
                    {% endif %}
                    
                    <!-- Описание товара -->
                    <div class="card-body">
                        <a href="{{ product.get_absolute_url }}" class="text-white" style="text-decoration:none">
                            <h5 class="card-title">{{ product.name }}</h5>
                        </a>
                        <p class="card-text text-truncate" style="color: white">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p><strong style="color: white">{{ product.price }}₸</strong></p>
                            
                            <!-- Кнопка для удаления из избранного -->
                            <form action="{% url 'favourites:remove_to_fav' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Удалить из избранного
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="text-center mb-4">
                <form action="{% url 'favourites:clear' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-lg">
                        Очистить избранные
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info text-center" role="alert">
            У вас нет избранных товаров.
        </div>
    {% endif %}
    
</div>

<style>
    .custom-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Темная тень для карточек */
    }

    .aspect-ratio {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%; /* Соотношение сторон 1:1 */
    }
    body {
        background-image: url('https://cdn.steamstatic.com/steamcommunity/public/images/items/447120/f173d53b9c696240fba8c45b6ec735f7bc1ce01a.jpg');
        color: #ffffff; /* Цвет текста по умолчанию */
    }
</style>
{% endblock %}
