{% extends "shop/base.html" %}
{% load static %}
{% block title %}Reset Your Password{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('https://cdn.steamstatic.com/steamcommunity/public/images/items/447120/f173d53b9c696240fba8c45b6ec735f7bc1ce01a.jpg');
        color: #ffffff; /* Цвет текста по умолчанию */
    }
</style>
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0deg 0% 18.27% / 87%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight text-light">
                        Reset Your Password<br />
                        <span class="text-primary" style="color: rgb(191 140 255) !important;">Instructions Sent</span>
                    </h1>
                    <p style="color: white">
                        Мы отправили вам инструкции по сбросу пароля на вашу электронную почту. Пожалуйста, следуйте им, чтобы вернуть доступ к своему аккаунту.
                    </p>
                    <p style="color: white">
                        Если вы не получили письмо, убедитесь, что ввели правильный адрес, зарегистрированный в нашей системе.
                    </p>
                    <div class="mt-4">
                        <a href="{% url 'account:login' %}" class="btn btn-primary btn-lg me-2">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
