{% extends "shop/base.html" %}
{% load static %}
{% block title %}Reset Your Password{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('https://cdn.steamstatic.com/steamcommunity/public/images/items/447120/f173d53b9c696240fba8c45b6ec735f7bc1ce01a.jpg');
        color: #ffffff; /* Цвет текста по умолчанию */
    }
</style>
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0deg 0% 18.27% / 87%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight text-light">
                        Forgotten Your Password?<br />
                        <span class="text-primary" style="color: rgb(191 140 255) !important;">Retrieve Your Magic</span>
                    </h1>
                    <p style="color: white">
                        Введите свой e-mail, чтобы получить ссылку на восстановление пароля и вернуть свои магические способности.
                    </p>
                    <div class="card">
                        <div class="card-body py-5 px-md-5" style="color:black;">
                            <h2 class="text-center">Reset Password</h2>
                            <p class="text-center">Please, use the form below to receive a password reset link:</p>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary btn-lg">Send E-mail</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mt-4">
                        <a href="{% url 'account:login' %}" class="btn btn-outline-light btn-lg me-2">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
