{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  Thank You
{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('https://cdn.steamstatic.com/steamcommunity/public/images/items/447120/f173d53b9c696240fba8c45b6ec735f7bc1ce01a.jpg');
        color: #ffffff; /* Цвет текста по умолчанию */
    }
</style>
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0deg 0% 18.27% / 87%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <!-- Left side -->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight text-light">
                        Thank You!<br />
                        <span class="text-primary" style="color: rgb(191 140 255) !important;">Your Order is Complete</span>
                    </h1>
                    <p style="color: white">
                        Your magical journey continues! We're preparing your order with care.
                    </p>
                </div>

                <!-- Right side -->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5" style="color:black;">
                            <h3>Order Confirmation</h3>
                            <p>Your order has been successfully completed.</p>
                            
                            <p>Thank you for shopping with us! You will receive a confirmation email shortly.</p>
                            <div class="text-center mt-4">
                                <a href="{% url 'shop:home' %}" class="btn btn-primary btn-lg">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
