{% extends "shop/base.html" %}
{% load static %}
{% block title %}Edit Your Account{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('https://cdn.steamstatic.com/steamcommunity/public/images/items/447120/f173d53b9c696240fba8c45b6ec735f7bc1ce01a.jpg');
        color: #ffffff; /* Цвет текста по умолчанию */
    }
</style>
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0deg 0% 18.27% / 87%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <!-- Left side -->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight text-light">
                        Edit Your Account<br />
                        <span class="text-primary" style="color: rgb(191 140 255) !important;">Personalize Your Experience</span>
                    </h1>
                    <p style="color: white">
                        Modify your account details to enhance your journey in our magical world.
                    </p>
                </div>

                <!-- Right side -->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5" style="color:black;">
                            <h2 class="text-center">Edit Your Information</h2>
                            <p class="text-center">Fill in the details below:</p>
                            <form method="post" enctype="multipart/form-data">
                                {{ user_form.as_p }}
                                {{ profile_form.as_p }}
                                {% csrf_token %}
                                <div class="text-center">
                                    <p><input type="submit" value="Save Changes" class="btn btn-primary btn-lg"></p>
                                </div>
                                <div class="text-center text-dark">
                                    <a href="{% url 'account:profile' %}" class="btn btn-outline-dark me-2">Мой Профиль</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
